<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321217602136-90tsmnhnfvco0qkd1m7hh6r2afi249d4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321217602136-90tsmnhnfvco0qkd1m7hh6r2afi249d4</string>
	<key>API_KEY</key>
	<string>AIzaSyBt97aDl8ON4f37HQv6vXRwdt2zI61njFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>321217602136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softareoProject</string>
	<key>PROJECT_ID</key>
	<string>softareo-assignmnet</string>
	<key>STORAGE_BUCKET</key>
	<string>softareo-assignmnet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321217602136:ios:d812050e58bbf7c6d0e02d</string>
</dict>
</plist>